<div class="container total">
    <div class="confirm-order__when">
        <h1>¿Cuándo lo quieres?</h1>
        <mat-radio-group name="when" >
            <mat-radio-button value="now">Lo antes posible</mat-radio-button>
            <mat-radio-button value="after">o dentro de un rato</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="confirm-order__how">
        <h1>¿Vienes o vamos?</h1>
        <mat-radio-group >
            <mat-radio-button value="now">Ya voy yo</mat-radio-button>
            <mat-radio-button value="after">Mejor me lo acercáis(+4.50€)</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="confirm-order__who">
        <h1>Ya casi terminamos...</h1>


    </div>

</div>
