 <div class="container total">

@if (cartItems().length>0){
   
        <h1 class="bd">Resumen de tu pedido</h1>
        <div class="products">
             @for(item of cartItems(); track item.product) {
            <app-cart-item class="app-cart-item" [item]="item"></app-cart-item>
        }
        </div>
       
        <div class="totals">
            <app-cart-total></app-cart-total>
        </div>
        <div class="cart__options">
            <button type="button" class="btn btn-big" (click)="navigateToConfirm()">Confirmar</button>
            <button type="button" class="btn" (click)="navigateToHome(false)">Quiero algo más</button>
            <label for="extra">
                Si hay algo que necesitas decirnos, hazlo a continuación:
            </label>
            <textarea name="extra" id="extra"></textarea>
            <button type="button" class="btn" (click)="navigateToHome(true)">Quizás otro día</button>
        </div>
} @else {
   

    <div class="cart__options">
        <button type="button" class="btn btn-big" (click)="navigateToHome(false)">Hacer un pedido</button>
    </div>


    
}
</div>
