<div class="cart-total">
    <div class="cart-total__line">
        <div>Subtotal</div>
        <div>{{ subTotal() | number:'1.2-2'}}€</div>
    </div>
    <div class="cart-total__line">
        <div>Entrega</div>
        <div>
            @if(delivery() === 0) {
                Envío gratis
            }@else {
                {{ delivery() }}€
            } 
        </div>
    </div>
    <div class="cart-total__line">
        <div>I.V.A. ({{ cartService.tax }}%)</div>
        <div>{{ taxQ() }}€</div>
    </div>
    <div class="cart-total__total">
        <div>Total</div>
        <div>{{ totalPrice() | number:'1.2-2' }}€</div>
    </div>
</div>