/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Inter, "Helvetica Neue", sans-serif;
    font-size: 16px;
}


$primary: #C16D19;

.container {
    padding: 0 .8rem;
}

nav {
    max-width: 100vw;
    background-color: white;
}

h1 {
    font-weight: 600;
}

h1, h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
}

.btn {
    display: block;
    position: relative;
    margin: 1rem auto;
    padding: .5rem;
    text-align: center;
    color: $primary;
    font-weight: 600;
    border: 3px solid $primary;
    border-radius: 2rem;
    min-width: 180px;
    font-size: large;
    transition: opacity 0.5s, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;

}

.btn-big {
        min-width: 300px;
        font-size: larger;
        text-transform: uppercase;
    }

.btn-icon {
    width: 2.4rem;
    min-width: 2.4rem;
    max-width: 2.4rem;
    height:  2.4rem;
    padding: .3rem;
    border-radius: 50%;
    font-size: larger;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primary;
    img {
        width: 1rem;
        height: auto;
    }
}

.class-item__qty--selector {
    display: flex;
    align-items: center;

}

.btn-icon.btn-combo__qty--number {
    width: 2.2rem;
    min-width: 2.2rem;
    border-radius: 0;   
    border-left: 0;
    border-right: 0;
    color:$primary;
    font-size: larger;
    font-weight: 600;
    padding: 0;
    color: white;
    background-color: $primary;
}


.btn.btn-combo__qty.btn-combo__qty--right,
.btn-icon.btn-combo__qty--number.btn-combo__qty--right {
    border-radius: 0 50% 50% 0;
    width: 2.2rem;
    min-width: 2.2rem;
}
.btn.btn-combo__qty.btn-combo__qty--left,
.btn-icon.btn-combo__qty--number.btn-combo__qty--left {
    border-radius: 50% 0 0 50%;
    width: 2.2rem;
    min-width: 2.2rem;
}

.none {
    opacity: 0;
    visibility: hidden;
} 

.class-item__qty {
    display: flex;
    justify-content: space-between;
}

ul.navbar-nav.bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
}

.border-top-4 {
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: $primary /* Customize the color */
}

.border-bottom-4 {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: $primary /* Customize the color */
}

a.nav-link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    img {
        padding-bottom: 4px;
        width:38px;
    }
}

.counter {
    display: block;
    position: absolute;
    top: -3px;
    left: calc(50vw + 38px);
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.separator-bottom {
    display: block;
    position: relative;
    height: 90px;

}

// ------ Cart Item ------- //

.container.total {
    display: block;
    position: relative;
    left: -.8rem;
    width: 100vw;
    margin: 0.5rem auto 3rem;
    padding: 0;
    h1 {
        border-bottom: 2px solid grey;
        width: 100vw;
        left: -.8rem;
        padding: .8rem;
        margin: 0 auto;
    }
}

.app-cart-item{
    display: block;
    position: relative;
}    

.cart_item {
    border-top: 1px solid lightgrey;
    padding: .5rem 1.5rem 0;
}

.cart_item__desc {
    display: flex;
    position: relative;
    width: 100%;
    padding-top: 8px;
}


.cart_item___desc--img {
    width: 20vw !important;
    height: 20vw !important;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    
    img {
        height: 100%;
    }
}

.cart_item___desc--desc {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    flex-grow: 1;

    .name {
        font-size: 1.3rem;
        line-height: 1.5rem;
        text-align: start;
        padding: 4px;
        align-self: start;
        width: 100%;
    }
    .price {
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-align: end;
        padding-top: .8rem;
        align-self: right;
    }
}

.cart-total {
    width: 100vw;
    display: flex;
    position: relative;
    margin: 1rem auto 1.5rem;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    flex-direction: column;
    font-size: large;
    align-items: flex-end;
    padding: 1rem 1.5rem;
    background-color:rgba(250, 250, 250, .90);
    
    .cart-total__line, 
    .cart-total__total {
        width: calc(70vw - 1rem);
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
    }
    .cart-total__total {
        font-size: x-large;
        border-top: 1px solid lightgrey;
        margin: 8px 0;
    }   
}

.cart__options {
    display: block;
    position: relative;
    padding: .5rem 1.5rem 0;
    textarea {
        width: 100%; 
    }
}