@if(products$()) {
    <div class="container container__products p-0 mb-40">
        <app-products-search></app-products-search>
    @for(product of products$(); track product._id) {
        <div class="product">
            <div class="row product__image">
                <img src="{{imgsProductsDir}}{{ product.img }}" alt="{{ product.name }}">

            </div>
            
            <div class="product__desc">
                <div class="product__desc--1 text-start">
                    <h2 class="product__desc--name">{{ product.name }}</h2>
                    <p class="desc">{{ product.desc }}</p>
                </div>
                <div class="product__desc--2 text end">
                    <div class="cart-icon" (click)="addToCart(product)">
                        <img src="assets/icons/cart.svg" alt="">
                    </div>
                    <div class="product__desc--price">{{ product.price  | number:'1.2-2' }}€</div>
                </div>
            </div>
        </div>    
    
    } @empty {
    <p>There is not items available</p>
    }

    </div>
}