$primary: #C16D19;

.container__products {
    display: block;
    position: relative;
}


.product {
    width: 100%;
    padding: 0;
    margin: 4px auto;
}

.product__image {
    width: 100%;
    margin: 8px auto;
    overflow: hidden;
    padding: 0!important;
    height: 175px;
    border-radius: 8px;
    img {
        width: 100%;
        height: auto;
        padding: 0;
        
    }
}

.product__desc {
    display: flex;
    margin: 10px auto;
    padding: 4px;
    width: 100%;
    .product__desc--1 {
        flex-grow: 2;
    }
    .product__desc--2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: nowrap;
        min-width:100px
    }
}

.product__desc--price {
    font-size: 1.8rem;
    text-align: right;
    min-width:120px;
}

.cart-icon {
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid $primary; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    img {
        width: 65%;
        height: auto;
    }
}