<nav class="navbar nav-top navbar-expand navbar-light p-1 border-bottom-4">
    <ul class="navbar-nav justify-content-between align-items-center w-100" >
        <li class="nav-item min-w-80">
            <a class="navbar-brand p-2"  [routerLink]="['/home']"
                routerLinkActive="active">
                <img src="assets/icons/appbar.svg" alt="">
            </a>
        </li>
    <!--  <li class="nav-item min-w-80">
            <a class="nav-link p-2"
            [routerLink]="['/cart']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact : true}">
            <img class="" src="assets/icons/menu.svg" alt="Pedido">
            </a>
        </li> -->
    </ul>
</nav>
    
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <div class="separator-bottom">&nbsp;</div>

<nav class="navbar navbar-expand navbar-light fixed-bottom p-1 justify-content-around border-top-4">
    <ul class="navbar-nav bottom">
        <li class="nav-item min-w-80">
            <a class="nav-link"
            [routerLink]="['/home']"
            routerLinkActive="active">
            <img src="assets/icons/home.svg" alt="Inicio">Inicio</a>
        </li>
        <li class="nav-item min-w-80">
            <a class="nav-link"
            [routerLink]="['/contact']"
            routerLinkActive="active">
            <img src="assets/icons/phone.svg" alt="Contacto">Contacto</a>
        </li>
    
        <li class="nav-item min-w-80">
            <a class="nav-link "
            [routerLink]="['/cart']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact : true}">
            <img src="assets/icons/cart.svg" alt="Pedido">
                @if(cartCount()) {
                    <span class="counter">{{cartCount()}}</span>
                }
            Pedido
            </a>
        </li>
        <li class="nav-item min-w-80">
            <a class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact : true}">
            <img class="clear" src="assets/icons/account.svg" alt="Mi cuenta">Mi cuenta</a>
        </li>
        </ul>

</nav>