
<form [formGroup]="productForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline" class="col-12 col-md-7 mt-3 p-1">
        <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            {{ getErrorMessage('name') }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"  class="col-12 col-md-6">
    <mat-label>Descripcion</mat-label>
        <textarea matInput formControlName="desc" required></textarea>
        <mat-error *ngIf="desc?.invalid && (desc?.dirty || desc?.touched)">
            {{ getErrorMessage('desc') }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline"  class="col-12 col-md-6">
        <mat-label>Descripcion larga</mat-label>
        <textarea matInput formControlName="l_desc" ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline"  class="col-6 col-md-2 ">
        <mat-label>Precio</mat-label>
        <input type="number" matInput formControlName="price" required>
        <mat-error *ngIf="price?.invalid && (price?.dirty || price?.touched)">
            {{ getErrorMessage('price') }}
        </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline"  class="col-6 col-lg-2">
        <mat-label>Posicion</mat-label>
        <input type="number" matInput formControlName="pos">
        <mat-error *ngIf="pos?.invalid && (pos?.dirty || pos?.touched)">
            {{ getErrorMessage('pos') }}
        </mat-error>
    </mat-form-field>

    @if(!imgURL()){
        <div class="col-12 col-md-4">
            <img [src]="  img?.value !== '' ? 'http://localhost:5200/menu/uploads/products/' + img?.value : imgURL()" [alt]="name?.value || 'Product Image'">
        </div>   
    }
    @if(imgURL()){
        <div class="col-12 col-md-4" *ngIf="imgURL() !== ''">
            <img [src]="imgURL()" [alt]="name?.value || 'Product Image'">
        </div>    
    }
    <input mat-raised-button color="primary" class="pt-2"
            type="file" id="image" name="image" accept="image/png, image/jpeg" formControlName="image" (change)="onNewImage($event)"/>


    <label class="w-100 p-2 ">Disponibilidad</label>
    <mat-radio-group formControlName="available"  class="w-100 p-1">
        <mat-radio-button value="true">Disponible</mat-radio-button>
        <mat-radio-button value="false">No disponible</mat-radio-button>
    </mat-radio-group>

    <div class="buttons mt-6 col-12">
        <button mat-raised-button class="p-3  mt-3 col-5" color="primary" type="submit" [disabled]="productForm.invalid">Enviar</button>
    </div>
</form>
